<!DOCTYPE html>
{% load static %}
{% load common %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'new_design/assets/images/favicon.png' %}" type="image/x-icon">
    <title>Take Rent Pe</title>
    <link rel="stylesheet" href="{% static 'new_design/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'new_design/assets/css/bootstrap-theme.min.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'new_design/assets/css/spacing-helper.css' %}">
    <link rel="stylesheet" href="{% static 'new_design/assets/css/style.css' %}">
    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="trp-register-page ">
    <section class="trp-form-section pt-40 pb-20 height-tab-pro-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trp-form-img text-center">
                        <img src="{% static 'new_design/assets/images/form-images/from-head-img.svg' %}" alt="">
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="trp-form-wrapper mt-20">
                            <div class="trp-form-header text-center">
                                <img src="{% static 'new_design/assets/images/logo.png' %}" alt="Take Remt Pe" class="trp-form-logo">
                                <h1 class="trp-form-header-title">Create Account</h1>
                            </div>
                            <div class="trp-form">
                                <form action="{{ request.get_full_path }}" method="post" name="registration" role="form" id="id_registration">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name">First Name</label>
                                        <input class="form-control" type="text" name="registration-first_name" id="firstname" placeholder="Enter your name" value="{% if registration_form.errors %} {{registration_form.first_name.value}} {% endif %}" required>
                                        <b class="snt-red-text er-size">{{registration_form.errors.first_name.as_text}}</b>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Last Name</label>
                                        <input class="form-control" type="text" name="registration-last_name" id="name" placeholder="Enter your name" value="{% if registration_form.errors %} {{registration_form.last_name.value}} {% endif %}" required>
                                        <b class="snt-red-text er-size">{{registration_form.errors.last_name.as_text}}</b>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" type="email" name="registration-email" id="inputEmail3" placeholder="Enter your email" value="{% if registration_form.errors %} {{registration_form.email.value}} {% endif %}" required>
                                        <b class="snt-red-text er-size">{{registration_form.errors.email.as_text}}</b>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile Number</label>
                                        <input class="form-control" type="text" name="registration-mobile_number" id="mno" placeholder="Enter your mobile" value="{% if registration_form.errors %} {{registration_form.mobile_number.value}} {% endif %}" required>
                                        <b class="snt-red-text er-size">{{registration_form.errors.mobile_number.as_text}}</b>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" name="registration-password1" id="password" placeholder="Enter password" required>
                                        <b class="snt-red-text er-size">{{registration_form.errors.password1.as_text}}</b>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm-password">Confirm Password</label>
                                        <input class="form-control" type="password" name="registration-password2" id="confirm-password" placeholder="Enter confirm password" required>
                                        <b class="snt-red-text er-size">{{registration_form.errors.password2.as_text}}</b>
                                    </div>
                                   {% comment %} {% if not registration_form.errors %}
                                     <div class="">
                                        <div class="form-group mt-15">
                                            <label for="otpNumber">OTP</label>
                                            <div class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                                <input type="text" id="digit-1" name="digit-1" data-next="digit-2" required/>
                                                <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" required/>
                                                <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" required/>
                                                <span class="splitter">&ndash;</span>
                                                <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" required/>
                                                <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" required/>
                                                <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" required/>

                                            </div>
                                            <input type="button" value="Get OTP" id="getOtp" class="trp-form-submit margin-top trp-otp-btn-1" disabled>
                                            <input type="button" value="Verify OTP" id="verifyOtp" class="trp-form-submit margin-top trp-otp-btn-1 trp-display-none">
                                            <div class="trp-otp-msg">
                                                <p class="otphint" id="snt-otp-msg">You will receive an SMS shortly. If you didn't receive any SMS try resend OTP</p>
                                            </div>
                                            <div class="snt-otp-msg">
                                                <p class="otpverified trp-display-none" id="snt-otp-responce">OTP match, please proceed</p>
                                            </div>


                                        </div>
                                    </div> 
                                    {% endif %}
                                    {% if not registration_form.errors %}
                                    <input type="submit" value="Continue" id="submit" class="trp-form-submit" name="registration_submit" disabled>
                                    {% else %} {% endcomment %}
                                    <input type="submit" value="Continue" id="submit" class="trp-form-submit" name="registration_submit">
                                    {% comment %} {% endif %} {% endcomment %}
                                </form>
                                <div class="text-center mt-10">
                                    <p class="trp-form-link">Already have an account? <a href="/accounts/login/" target="_blank">Login</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="trp-form-social text-cetner mt-30">
                            {% get_social_link request as data %}
                            <ul>
                                <li><a href="{% if data.fb_link %} {{data.fb_link}} {% else %} https://www.facebook.com/Take-Rent-Pe-101019151839514 {% endif %}"><img src="{% static 'new_design/assets/images/form-images/navy-facebook-icon.svg' %}" alt=""></a></li>
                                <li><a href="{% if data.twitter_link %} {{data.twitter_link}} {% else %} https://twitter.com/take_rent_pe {% endif %}"><img src="{% static 'new_design/assets/images/form-images/navy-twitter-icon.svg' %}" alt=""></a></li>
                                <li><a href="{% if data.youtube_link %} {{data.youtube_link}} {% else %}https://www.youtube.com/channel/UCW7mHue2nbWxqE7xCAKi2VQ {% endif %}"><img src="{% static 'new_design/assets/images/form-images/navy-youtube-icon.svg' %}" alt=""></a></li>
                                <li><a href="{% if data.insta_link %} {{data.insta_link}} {% else %}https://www.instagram.com/takerentpe/ {% endif %}"><img src="{% static 'new_design/assets/images/form-images/navy-insta-icon.svg' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'new_design/assets/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <!--Hide menu   -->
        <script>
            $(document).ready(function () {
                $(document).click(function (event) {
                    var clickover = $(event.target);
                    var _opened = $(".navbar-collapse").hasClass("collapse in");
                    // alert(_opened)
                    if (_opened === true && !clickover.hasClass("navbar-toggle")) {
                        $("button.navbar-toggle").click();
                    }
                });
                 $('#mno').change(function (){
                 mobile_number = $('#mno').val();
            if(!mobile_number){
            $('#getOtp').attr('disabled','disabled');
            }
            else{
            $('#getOtp').removeAttr('disabled');
            }
                 })
                 mobile_number = $('#mno').val();
            if(!mobile_number){
            $('#getOtp').attr('disabled','disabled');
            }
            else{
            $('#getOtp').removeAttr('disabled');
            }
            });
          </script>

          <!-- OTP -->
        <script>

            var counter = 60;
            var otp_verified = false ;

            $('#getOtp').on('click',function(e){
            mobile_number = $('#mno').val();
            firstname = $('#firstname').val();
            name = $('#name').val();
            email = $('#inputEmail3').val();
            password = $('#password').val();
            confirm_password = $('#confirm-password').val();
            if(!mobile_number || !firstname || !name || !email || !password || !confirm_password)
            {
            alert('Please enter all fields');
            return false;
            }

            var status = false;
            var frm = $('#id_registration');

            $.ajax({
            type:'GET',
            url : '/get_otp/',
            data : {
                mobile_number : mobile_number,
                form : frm.serialize(),
                password : password,
                confirm_password : confirm_password,
                email : email,
            },
            success : function(data) {

            if(data.status == 'already exist') {
                 status = true;
                 console.log('status 1'+status)
                alert('mobile number already exist, please enter another number');

            }
            else if(data.status == 'email exist') {
                 status = true;
                 console.log('status 1'+status)
                alert('Email already exist, please enter another email id.');

            }
            else if(data.status == 'password not matching') {
                 status = true;
                 console.log('status 1'+status)
                alert('Password not matching. Please re-enter correct password.');

            }
            else if(data.status == "exceed"){
                status = true;
                 console.log('status 1'+status)
                alert('You have excceded number of attempt.');
            }
            },
            async: false,
            });
            console.log('status '+status)
            if(status == true)
            {
            return false;
            }
            $('.digit-group').show();
            $('.trp-otp-msg').show();

           // $('#getOtp').val('Detecting OTP').addClass('disabled trp-otp-btn-1');
           $('#getOtp').val('Detecting OTP').addClass('trp-display-none');
           $('#verifyOtp').val('Verify OTP').removeClass('trp-display-none');
            $('.otphint').append('<div class="dmsg" />');
            var timer = setInterval(function(){
            $('.dmsg').html(' in '+counter-- +' seconds');

            if (counter == -1){
            if(otp_verified != true){
                $('.otphint a').removeClass('disabled');
                $('#getOtp').val('Resend OTP').removeClass('disabled trp-display-none');
                $('#digit-1').val('');
                $('#digit-2').val('');
                $('#digit-3').val('');
                $('#digit-4').val('');
                $('#digit-5').val('');
                $('#digit-6').val('');

                $('#verifyOtp').val('Verify OTP').addClass('trp-display-none');
                $('.dmsg').remove();
                }
                counter = 60;
                clearInterval(timer);
            }
            },1000);
            e.preventDefault();
            });




            $('.digit-group').find('input').each(function() {
	            $(this).attr('maxlength', 1);
	            $(this).on('keyup', function(e) {
		        var parent = $($(this).parent());

		        if(e.keyCode === 8 || e.keyCode === 37) {
			        var prev = parent.find('input#' + $(this).data('previous'));

			            if(prev.length) {
				        $(prev).select();
			        }
		        } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
			        var next = parent.find('input#' + $(this).data('next'));

			        if(next.length) {
				        $(next).select();
			        } else {
				        // if(parent.data('autosubmit')) {
				        // 	parent.submit();
				    // }
			    }
                }
            });
        });


$('#verifyOtp').on('click',function(e){

mobile_number = $('#mno').val();
digit_1 = $('#digit-1').val();
digit_2 = $('#digit-2').val();
digit_3 = $('#digit-3').val();
digit_4 = $('#digit-4').val();
digit_5 = $('#digit-5').val();
digit_6 = $('#digit-6').val();

            $.ajax({
            type:'GET',
            url : '/verify_otp/',
            data : {
                mobile_number : mobile_number,
                digit_1 : digit_1,
                digit_2 : digit_2,
                digit_3 : digit_3,
                digit_4 : digit_4,
                digit_5 : digit_5,
                digit_6 : digit_6,
            },
            success : function(data) {
            //alert(data.status);
            if((data.status == '400')|| (data.status == '401')){
            console.log('in if');
                alert('Please enter valid OTP');
            }
            else if(data.status == '501'){
            console.log('in if');
                alert('You have exceeded the number of allowed OTP attempts. Please try again later.');
            }
            else if(data.status == '502'){
            console.log('in if');
                alert('OTP is expried');
            }
            else if(data.status == '200'){
                        console.log('in else if');
            $('#otpverified').removeClass('trp-display-none');
            $('#submit').removeAttr('disabled');
            $('#getOtp').addClass('trp-display-none');
            $('#snt-otp-responce').removeClass('trp-display-none');
            $('#verifyOtp').addClass('trp-display-none');
            $('.trp-otp-msg').hide();
            otp_verified = true;
            console.log('timer'+counter);
            }
            else{
                        console.log('in else');
            }
            }
            });
});
        </script>
    </footer>
</body>
</html>