{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load static %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {% trans "Pages" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
    </li>
    <li class="active">{% trans "Edit" %}</li>
</ul>
{% endblock %}

{% block headertext %}Page {{page_title}}{% endblock %}

{% block dashboard_content %}
<div class="page-content">


    <div class="table-header">
        <h2>{{page_title}}</h2>
    </div>
    <form method="post" class="well" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Page Title</label>
                    <input disabled type="text" name="title" value="{{page_title}}" placeholder="Page Title" minlength="2" id="id_page_title" class="form-control wpcf7-text wpcf7-validates-as-required">
                    <input type="hidden" name="page_type" value="{{page_type}}" class="form-control wpcf7-text wpcf7-validates-as-required">
                    <input type="hidden" name="url" value="/" class="form-control wpcf7-text wpcf7-validates-as-required">
                    <p class="color-red"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Page Content</label>
                    {{form.content}}
                    <p class="color-red"></p>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-md btn-primary">Update</button>
        <a href="{% url 'dashboard:accounts-legal-page' %}" class="btn btn-md btn-default">Cancel</a>
    </form>


</div>
{% endblock dashboard_content %}

{% block extrascripts %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'oscar/css/products/common_select2.css' %}" type="text/css" media="screen">




{% endblock %}