{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}

<style>
    .button{
        padding: 10px 12px;

    }
</style>

<h3 class="heading">Change Password</h3>

<div style="overflow-x:auto;">

    <div class="password">
        <p>Use the form below to change the password for your account</p>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        <div class="Table_profile">

            <div class="Row_profile">
                <div class="Cell_profile" style="width:25%;">
                    <p>Old Password</p>
                </div>
                <div class="Cell_profile">
                    <p>:-</p>
                </div>
                <div class="Cell_profile">
                    {{form.old_password}}
                    <span class="error-red">{{form.errors.old_password.as_text}}</span>
                </div>
            </div>

            <div class="Row_profile">
                <div class="Cell_profile">
                    <p>New Password</p>
                </div>
                <div class="Cell_profile">
                    <p>:-</p>
                </div>
                <div class="Cell_profile">
                    {{form.new_password1}}
                    <span class="error-red">{{form.errors.new_password1.as_text}}</span>
                </div>
            </div>

            <div class="Row_profile">
                <div class="Cell_profile">
                    <p>Re-enter Password</p>
                </div>
                <div class="Cell_profile">
                    <p>:-</p>
                </div>
                <div class="Cell_profile">
                    {{form.new_password2}}
                    <span class="error-red">{{form.errors.new_password2.as_text}}</span>
                </div>
            </div>

            <br />
            <div class="Row_profile">
                <div class="Cell_profile">
                    <button class="button button2" type="submit">
                        Change Password
                    </button>
                </div>
                <div class="Cell_profile">

                </div>
                <div class="Cell_profile">
                    <a href="{% url 'customer:profile-view' %}">
                        <button class="button button2" type="button">Cancel</button>
                    </a>
                </div>
            </div>

        </div>
    </form>

</div>

<script>
    var element = document.getElementById("my_profile_link");
    element.classList.add("active");
</script>

{% endblock tabcontent %}
