{% load staticfiles %}
<section class="trp-how-to-rent pt-50 pb-85" id="id_trp-how-to-rent">
    <div class="row trp-row trp-aligned-row-mob">
        <div class="col-md-12  col-xs-12">
            <h3 class="trp-sec-heading text-center mb-35">How to Rent</h3>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <div class="trp-rent-icon-wrapper text-center">
                <img src="{% static 'new_design/assets/images/explore-identify.svg' %}" alt="explore & identify">
                <p class="mt-20">EXPLORE & IDENTIFY</p>
            </div>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <div class="trp-rent-icon-wrapper text-center">
                <img src="{% static 'new_design/assets/images/create-account.svg' %}" alt="create account">
                <p class="mt-20">CREATE ACCOUNT</p>
            </div>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <div class="trp-rent-icon-wrapper text-center">
                <img src="{% static 'new_design/assets/images/read-product-details-select-event-date.svg' %}"
                     alt="read product details & select event date">
                <p class="mt-20">READ PRODUCT DETAILS & SELECT EVENT DATE</p>
            </div>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <div class="trp-rent-icon-wrapper text-center">
                <img src="{% static 'new_design/assets/images/add-details.svg' %}" alt="add details">
                <p class="mt-20">ADD DETAILS</p>
            </div>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <div class="trp-rent-icon-wrapper text-center">
                <img src="{% static 'new_design/assets/images/payment-delivery.svg' %}" alt="payment delivery">
                <p class="mt-20">PAYMENT & DELIVERY</p>
            </div>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <div class="trp-rent-icon-wrapper text-center">
                <img src="{% static 'new_design/assets/images/meeting-with-service-provider.svg' %}"
                     alt="meeting with service provider">
                <p class="mt-20">MEETING WITH SERVICE PROVIDER <br><small>(AFTER THE BOOKING)</small></p>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="trp-pink-btn mt-35">
                <a href="#">View Catalogue</a>
            </div>
        </div>
    </div>
</section>