{% load staticfiles %}
<section class="trp-payment-method-sec pt-80 pb-80">
    <div class="container">
        <div class="row trp-row">
            <div class="col-md-12">
                <div class="trp-payment-method-wrapper">
                    <div class="trp-payment-method-title text-center">
                        <h3 class="trp-title mt-0"><img src="{% static 'new_design/assets/images/payment-method-icon.svg' %}" alt=""
                                                        class="mr-10">Payment Method</h3>
                    </div>
                    <div class="trp-payment-method-steps">
                        <ul class="row trp-row">
                            <li class="col-sm-4"><span>STEP 1</span> 50% For advance booking</li>
                            <li class="col-sm-4"><span>STEP 2</span> 30% Before one day</li>
                            <li class="col-sm-4"><span>STEP 3</span> 20% Next day of the event</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>