<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TakeRentPe : Reset Password Complete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="{% static 'oscar/css/loginregister/style.css' %}">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
    <link rel="shortcut icon" href="{% static 'oscar/images/favicon_set_1/logo500x.png' %}"/>
    <style>
        #particles-js{
            background-image:url("{% static 'oscar/css/loginregister/login_banner.jpg' %}");
        }
        .er-size{
            color:#fff; font-weight:300; font-size:12px;
        }
        #second{
            //height:auto;
        }
    </style>

</head>
<body>

<!-- count particles -->
<div class="count-particles">

    <div class="container">
        <div id="login-box">

            <div id="third" style="display:block">
                <div class="">
                    <div class="card">

                        <div class="card-header">
                            <h3>Forget Password</h3>
                            <div class="d-flex justify-content-end social_icon">
                                <span><i class="fab fa-facebook-square"></i></span>
                                <span><i class="fab fa-google-plus-square"></i></span>
                                <span><i class="fab fa-twitter-square"></i></span>
                            </div>
                        </div>

                        <div class="card-body">
                                <div class="form-group">
                                    <div></div>
                                    <div style="color:#fff; font-size:16px;" class="col-xs-12 col-sm-12 text-center">
                                        Your password has been set.  You may go ahead and log in now.
                                    </div>
                                </div>

                        </div>

                        <div class="card-footer">
                            <div class="col-md-12 ">
                                <div class="d-flex justify-content-center links">
                                    <br/>
                                    <p class="text-center"><a href="/accounts/login/">Back</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#login-box -->
    </div>

</div>

<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../particles.js"></script>
<script src="js/app.js"></script>
<script src="login.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type='text/javascript' src="{% static 'oscar/js/users/particles.js' %}"></script>
<script type='text/javascript' src="{% static 'oscar/js/users/partical/app.js' %}"></script>
</body>
</html>