<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TakeRentPe : Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="{% static 'oscar/css/loginregister/style.css' %}">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
    <link rel="shortcut icon" href="{% static 'oscar/images/favicon_set_1/logo500x.png' %}"/>
    <style>
        #particles-js{
            background-image:url("{% static 'oscar/css/loginregister/login_banner.jpg' %}");
        }
        .er-size{
            color:#fff; font-weight:300; font-size:12px;
        }
        #second{
            //height:auto;
        }
    </style>

</head>
<body>

<!-- count particles -->
<div class="count-particles">

    <div class="container">
        <div id="login-box">

            <div id="third" style="display:block">
                <div class="">
                    <div class="card">

                        <div class="card-header">
                            <h3>Forgot Password</h3>
                            <div class="d-flex justify-content-end social_icon">
                                <span><i class="fab fa-facebook-square"></i></span>
                                <span><i class="fab fa-google-plus-square"></i></span>
                                <span><i class="fab fa-twitter-square"></i></span>
                            </div>
                        </div>

                        <div class="card-body">
                            <form method="post" name="registration"  class="form-horizontal" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div></div>
                                    <label style="font-size:12px;" for="inputEmail3" class="col-xs-4 col-sm-4 remember">
                                        New Password
                                    </label>
                                    <div class="col-xs-8 col-sm-8">
                                        <input required name="new_password1" type="password" class="form-control" id="inputEmail3">
                                        <b class="red-text er-size">{{form.errors.new_password1.as_text}}</b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div></div>
                                    <label style="font-size:12px;" for="inputEmail3" class="col-xs-4 col-sm-4 remember">
                                        Confirm Password
                                    </label>
                                    <div class="col-xs-8 col-sm-8">
                                        <input required name="new_password2" type="password" class="form-control" id="inputEmail4">
                                        <b class="red-text er-size">{{form.errors.new_password2.as_text}}</b>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center mb-3" style="padding:10px;">
                                    <button type="submit" class=" btn login_btn" >Submit</button>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <div class="col-md-12 ">
                                <div class="d-flex justify-content-center links">
                                    <p class="text-center">
                                        <a href="/accounts/login/">Back</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#login-box -->
    </div>

</div>

<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../particles.js"></script>
<script src="js/app.js"></script>
<script src="login.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type='text/javascript' src="{% static 'oscar/js/users/particles.js' %}"></script>
<script type='text/javascript' src="{% static 'oscar/js/users/partical/app.js' %}"></script>
</body>
</html>