{% extends 'new_design/customer/account_base.html' %}
{% load static %}
{% load common %}
{% block tabcontent %}
    <style>
        .error-red{
            color:red;
        }
    </style>
    <div class="col-md-9">
        <div class="trp-acc-mainContent-wrapper">
            <div class="trp-acc-mainContent-title-wrapper mb-25">
                <h1 class="trp-acc-mainContent-title m-0">Profile Details</h1>
            </div>
            <div class="trp-acc-detail-wrapper">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="trp-acc-detail-p">
                                <p class="mb-5">First Name</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="trp-acc-detail-p">
                                {{form.first_name}}
                                <span class="error-red">{{form.errors.first_name.as_text}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="trp-acc-detail-p">
                                <p class="mb-5">Last Name</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="trp-acc-detail-p">
                                {{form.last_name}}
                                <span class="error-red">{{form.errors.last_name.as_text}}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <div class="trp-acc-detail-p">
                                <p class="mb-5">Email Address</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="trp-acc-detail-p">
                                {{form.email}}
                                <span class="error-red">{{form.errors.email.as_text}}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <div class="trp-acc-detail-p">
                                <p class="mb-5">Mobile Number</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="trp-acc-detail-p">
                                <input type="text" class="form-control mb-25" name="mobile_number" id="acc-mobileNo" value="{{user.profile_user}}">
                                <span class="error-red">{{form.errors.mobile_number.as_text}}</span>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="trp-acc-detail-btn mt-10 form-group" >
                                <div class="trp-pink-btn text-left">
                                    <button type="submit">Save Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block extrascripts %}
        {{ block.super }}
        <script>
            document.getElementById("my_order_link").classList.remove("active");
            document.getElementById("my_custom_order_link").classList.remove("active");
            document.getElementById("my_coupon_link").classList.remove("active");
            document.getElementById("faq_link").classList.remove("active");
            document.getElementById("wishlist_link").classList.remove("active");
            if(document.getElementById("my_vendor_profile_link")){
                document.getElementById("my_vendor_profile_link").classList.add("active");
            }
            if(document.getElementById("my_profile_link")){
                document.getElementById("my_profile_link").classList.add("active");
            }
        </script>
    {% endblock %}
{% endblock %}
