{% extends 'dashboard/layout.html' %}

{% load i18n %}

{% block title %}
    Price Range Database Delete | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:price-range-list' %}">{% trans "Price Range Database" %}</a>
        </li>
        <li class="active">Delete Price Range Database</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>Delete Price Range Database</h2>
    </div>
    <form action="{{ request.GET.urlencode }}" method="post" class="well" id="form">
        {% csrf_token %}
        <p style="font-size:18px;">Are you really want to delete price range database for {{price_rng_cat.name}} ?</p>
        <div class="form-actions">
            <input type="hidden" value="{{price_rng_cat.id}}" name="category">
            <button type="button" onclick="confirm_event_delete()" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            <a href="{% url 'dashboard:price-range-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock %}

{% load static %}
{% block extrascripts %}
    {{ block.super }}
    <script>
        function confirm_event_delete(){
            var is_confirm = confirm("Do you really want to delete the price range database.");
            if (is_confirm == false){
                return false;
            }
            $('#form').submit();
        }
    </script>
{% endblock %}