{% extends "layout.html" %}
{% load i18n %}

<!-- payment failure page -->
{% block title %}
Payment Failed
{% endblock %}
{% block content %}
<div class="nz-breadcrumbs nz-clearfix">
    <div class="container">
        <a href="{{ homepage_url }}" rel="v:url" property="v:title">{% trans "Home" %}</a>
        <span class="current">Payment Failure</span>
    </div>
</div>
<div style="display:none">
    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
<div class="shop-layout-wrap" id="nz-target">
    <div class="loop">
        <div class="container">
            <section class="content lazy shop-layout infinite-container animation-false nz-clearfix text-center">
                <div class="container">
                    <div class="single-image-content" style="padding:37px 30px 30px 30px;">

                        <h2>Your transaction has been failed.</h2>
                        <a href="/" class="btn btn-md btn-red btn-yellow">Continue Shopping</a>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
{% endblock %}
