{% extends "layout_2_col.html" %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block title %}
    TakeRentPe | Payment Cancel
{% endblock %}


{% block content %}
<div id="nz-content" class='content nz-clearfix sidebar-none padding-false'>
    <div class='page-full-width'>
        <!-- post start -->
        <div id="post-28" class="post-28 page type-page status-publish hentry">
            <section class="page-content nz-clearfix">
                <h2 style="margin-top:5em; margin-bottom:5em;" class="text-center">Payment Cancel</h2>
            </section>
        </div>
    </div>
</div>
{% endblock %}