
{% extends "checkout/checkout.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
{% include 'checkout/nav1.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
<link rel="stylesheet" href="{% static 'oscar/css/products/shipping_address1_css.css' %}" type="text/css" media="screen">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
    .active-shipping{color:#e91d4a !important;}
    .alert{display:none;}
    .upper-text{text-transform:uppercase;}

    .well{
    background-color:white;
    border:none;
    }


    .shop-layout-wrap {
background-color:white;
}#id_state, #id_line4{
   background: transparent;
    border-color: transparent;
    color: #fff !important;
}
#id_state:focus{
   background: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
    box-shadow:initial !important;
}
#id_line4:focus{
   background: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
    box-shadow:initial !important;
}

</style>

<div class="col-sm-12">
    <!--    <div class="sub-header mob-sub-header">-->
    <!--        <h2>{% trans "Where should we ship to?" %}</h2>-->
    <!--    </div>-->
    <!--    {% if user.is_authenticated %}-->
    <!--        {% if addresses %}-->
    <!--            <h3>{% trans "An address from your address book?" %}</h3>-->
    <!--            <div class="choose-block">-->
    <!--                <div class="row">-->
    <!--                    {% for address in addresses %}-->
    <!--                        {% block select_address_form %}-->
    <!--                            <div class="col-sm-6">-->
    <!--                                <div class="well">-->
    <!--                                    <address>-->
    <!--                                        {% block select_address_fields %}-->
    <!--                                            {% for field in address.active_address_fields %}-->
    <!--                                                <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}-->
    <!--                                            {% endfor %}-->
    <!--                                        {% endblock %}-->
    <!--                                    </address>-->
    <!--                                    <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">-->
    <!--                                        {% csrf_token %}-->
    <!--                                        <input type="hidden" name="action" value="ship_to" />-->
    <!--                                        <input type="hidden" name="address_id" value="{{ address.id }}" />-->
    <!--                                        {% if address.is_default_for_shipping %}-->
    <!--                                            <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>-->
    <!--                                        {% else %}-->
    <!--                                            <button type="submit" class="btn btn-yellow btn-red btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">{% trans "Ship to this address" %}</button>-->
    <!--                                        {% endif %}-->

    <!--                                        <div class="btn-group address-controls ship-address upper-text">-->
    <!--                                            <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-yellow btn-red btn-sm">{% trans "Edit address" %}</a>-->
    <!--                                            <button class="btn btn-yellow btn-red btn-sm dropdown-toggle" data-toggle="dropdown">-->
    <!--                                                <span class="caret"></span>-->
    <!--                                            </button>-->
    <!--                                            <ul class="dropdown-menu ship-add-menu">-->
    <!--                                                <li><a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address">{% trans "Delete" %}</a></li>-->
    <!--                                            </ul>-->
    <!--                                        </div>-->
    <!--                                    </form>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            {% if forloop.counter|divisibleby:2 %}-->
    <!--                                </div><div class="row">-->
    <!--                            {% endif %}-->
    <!--                        {% endblock %}-->
    <!--                    {% endfor %}-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <h3>{% trans "Or a new address?" %}</h3>-->
    <!--        {% endif %}-->
    <!--    {% endif %}-->

    {% block new_address_form %}
    <div class="well">

        <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
            {% csrf_token %}
            <div class="tab-content">
                <div class="tab-pane" role="tabpanel" id="step2">
                    <div class="step2">

                        <div class="panel panel-info">
                            <div class="panel-heading" style="background-color:#CCCCCC; ">
                                <div class="panel-title" >
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 ><span class="glyphicon glyphicon-map-marker"></span>  Delivery Address</h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_first_name">First Name</label>
                                        {{form.first_name}}
                                        {% if form.errors.first_name %}
                                        <label class="error_label">{{form.errors.first_name.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_last_name">Last Name</label>
                                        {{form.last_name}}
                                        {% if form.errors.last_name %}
                                        <label class="error_label">{{form.errors.last_name.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_phone_number">Phone Number</label>
                                        {{form.phone_number}}
                                        {% if form.errors.phone_number %}
                                        <label class="error_label">{{form.errors.phone_number.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_line1">Delivery Address</label>
                                        {{form.line1}}
                                        {% if form.errors.line1 %}
                                        <label class="error_label">{{form.errors.line1.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_state">Country</label>
                                        {{form.country}}
                                        {% if form.errors.country %}
                                        <label class="error_label">{{form.errors.country.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_state">State</label>
                                        <select name="state_raw" class="form-control" id="id_state_raw" required>
                                            <option value="">State</option>
                                            {% for state in states %}
                                                <option value="{{state.id}}">{{state.state_name}}</option>
                                            {% endfor %}
                                        </select>
                                        {% if form.errors.state %}
                                            <label class="error_label">{{form.errors.state.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_line4" id="city_label">City</label>
                                        <select name="city" class="form-control" id="id_city" required>
                                            <option value="">City</option>
                                        </select>

                                        {% if form.errors.line4 %}
                                            <label class="error_label">{{form.errors.line4.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="id_postcode">Pincode</label>
                                        {{form.postcode}}
                                        {% if form.errors.postcode %}
                                        <label class="error_label">{{form.errors.postcode.as_text}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline pull-right">

                        <!-- <li>
                            <a href="{% url 'checkout:billing_address' fill_form=1 %}"> <button type="button" class="btn btn-default prev-step" id="prev-btn">Previous</button></a>

                        </li> -->

                        <li>
                            <button type="submit" class="btn btn-warning " data-loading-text="{% trans 'Continuing...' %}">{% trans "Save and Continue" %}</button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row" style="border:0px solid; width:1px;">
                {{form.state}}
                {{form.line4}}
            </div>
        </form>
    </div>
    {% endblock %}
</div>
{% endblock shipping_address %}


{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}



{% block extrascripts %}

{{block.super}}


<script>
    $("[name*='first_name']").val('{{request.user.first_name}}')
    $("[name*='last_name']").val('{{request.user.last_name}}')
    $("[name*='phone_number']").val('{{phone_number}}')
</script>
<script>
    $(document).ready(function () {

        // state on change
        
        
        $('#id_state_raw').on('change', function(){
            $('#id_state').val($("#id_state_raw option:selected").text());
            
            $('#id_city').empty().append('<option selected="selected" value="">Select City</option>');
            $.ajax({
                type:'GET',
                url : '/city_ajax/',
                data : {
                    state_name: $(this).val(),
                },
                success : function(data){
                    $.each(data, function(i, value) {
                        console.log(value)
                        $('#id_city').append($('<option>').text(value.text).attr('value', value.text));
                    });
                },
                failure : function(result){
                },
            });
        });

        $('#id_city').on('change', function(){
            $('#id_line4').val($("#id_city option:selected").text());
        });

        let path_current = window.location.pathname;

        var x_state = $('#id_state').val();
        var x_city = $('#id_line4').val();
        //if(path_current == '/checkout/billing_address/1'){
        if(x_state && x_city){
            var state = $('#id_state').val();
            var city = $('#id_line4').val();
            $.get('/get_state_id/?state_name='+state, function(data) {
                $("#id_state_raw").val(data);
                $.ajax({
                type:'GET',
                url : '/city_ajax/',
                data : {
                    state_name: data,
                },
                success : function(data){
                    $.each(data, function(i, value) {
                        $('#id_city').append($('<option>').text(value.text).attr('value', value.text));
                    });
                    $('#id_city').val(city);
                },
                failure : function(result){
                },
            });
            });

        }

    });

    $(document).ready(function () {


$('[data-toggle="tooltip"]').tooltip()

   var previ = $('.wizard .wizard-inner .nav-tabs li.step1');
                        //alert(previ);
        previ.removeClass('active');
        previ.addClass('disabled');
        var previ = $('.tab-content div#step1');
        previ.removeClass('active');
        previ.addClass('disabled');


        var $active = $('.wizard .wizard-inner .nav-tabs li.step2');
               // alert($active);


        $active.removeClass('disabled');
        $active.addClass('active');
                var $active = $('.tab-content div#step2');
                 $active.removeClass('disabled');
        $active.addClass('active');

});

$(".prev-step").click(function (e) {
        var previ = $('.wizard .wizard-inner .nav-tabs li.step2');
                      // alert(previ);
        previ.removeClass('active');
        previ.addClass('disabled');
        var previ = $('.tab-content div#step2');
        previ.removeClass('active');
        previ.addClass('disabled');


        var $active = $('.wizard .wizard-inner .nav-tabs li.step1');
              //  alert($active);


        $active.removeClass('disabled');
        $active.addClass('active');
                var $active = $('.tab-content div#step1');
                 $active.removeClass('disabled');
        $active.addClass('active');

});


    </script>

{% endblock %}