{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Ranges" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Coupon Seasons" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:range-create' %}" class="btn btn-primary btn-lg pull-right">
            <em class="icon-plus"></em>
            {% trans "Create new coupon season" %}</a>
        <h1>{% trans "Coupon Seasons" %}</h1>
    </div>

    <div class="table-header">
        <h3><span class="icon-search icon-large"></span>{% trans "Coupon Seasons Search" %}</h3>
    </div>
    <div class="well">
        <form method="get" class="form-inline">
            {% include 'dashboard/partials/form_fields_inline.html' with form=form %}
            <button type="submit" class="btn btn-primary top-spacer" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
            <a href="/dashboard/ranges/" class="btn btn-default">Reset</a>
            <button type="button" class="btn btn-danger" onclick="export_season('/export_season/', '{{request.GET.season_name}}')">Download</button>
        </form>
    </div>
{% endblock header %}

{% block dashboard_content %}

    <table class="table table-striped table-bordered">
        <caption>
            <em class="icon-reorder icon-large"></em> {% trans "Ranges" %}
            <span id="season_mark" class="selection_mark label label-default"></span>
            <input type="hidden" id="ids_season_list" class="pull-right">
            <button onclick="delete_season()" type="button" class="btn btn-danger btn-xs pull-right">Delete</button>
        </caption>
        {% if ranges %}
            <thead>
                <tr>
                    <th><input type="checkbox" id="master_season"></th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Num products" %}</th>
                    <th>{% trans "Is public?" %}</th>
                    <th>{% trans "Date created" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for range in ranges %}
                    <tr>
                        <td>
                            <input type="checkbox" value="{{range.id}}" class="selected_season" id="selected_sesson">
                        </td>
                        <td>
                            {% if range.is_editable %}
                                <a href="{% url 'dashboard:range-update' pk=range.id %}">{{ range.name }}</a>
                            {% else %}
                                {{ range.name }}
                            {% endif %}
                        </td>
                        {% if range.includes_all_products %}
                            <td>{% trans 'All' %}</td>
                        {% else %}
                            <td>{{ range.num_products|default:"-" }}</td>
                        {% endif %}

                        {% if range.is_public %}
                            <td>{% trans "Yes" %}</td>
                        {% else %}
                            <td>{% trans "No" %}</td>
                        {% endif %}
                        <td>{{ range.date_created }}</td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="submit" data-toggle="dropdown" aria-expanded="true">
                                        {% trans "Actions" %}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        {% if range.is_editable %}
                                            <li><a href="{% url 'dashboard:range-update' pk=range.id %}">{% trans "Edit" %}</a></li>
                                            <!--{% if not range.includes_all_products %}-->
                                                <!--<li><a href="{% url 'dashboard:range-products' pk=range.id %}">{% trans "Edit products" %}</a></li>-->
                                            <!--{% endif %}-->
                                        {% endif %}
                                        <!--{% if range.is_public %}-->
                                            <!--<li><a href="{{ range.get_absolute_url }}">{% trans "View on site" %}</a></li>-->
                                        <!--{% endif %}-->
                                        <li><a href="{% url 'dashboard:range-delete' pk=range.id %}">{% trans "Delete" %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tr><td>{% trans "No ranges found." %}</td></tr>
        {% endif %}
    </table>
    {% include "dashboard/partials/pagination.html" %}

{% endblock dashboard_content %}

{% load static %}
{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'oscar/js/dashboard/offers/season.js' %}"></script>
{% endblock %}