<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create password</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<style>
@font-face { font-family: BankGothicBT; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/Bank Gothic Light.ttf'); }
@font-face { font-family: arialMT; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/ARIALMT.ttf'); }
@font-face { font-family: Tahoma; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/Tahoma Regular font.ttf'); }
</style>
<body style="margin: 0;padding: 0;">
	<div style="max-width: 600px;margin-left: auto;margin-right: auto;">
		<div style="font-family: Tahoma;font-size: 20px;">
			<div class="header" style="background-image: url('http://takerentpe-dev.progfeel.co.in/media/images/email_images/header-bg-1-transparent.png');height: 200px;background-repeat: no-repeat;background-size: 100% 100%;margin: 0;padding: 0;">
			</div>
			<div class="body" style="padding:0 8%; color: #060808;">
				<p style="margin-top: 0;">Hi {{user.first_name}} {{user.last_name}}!</p>
				<p>You are receiving this email because we got a password recovery request for your account.</p>
				<p>If you didn't send the request, please ignore this email.</p>
				<p style="margin-bottom: 1.5rem;">If you did request it, follow this link to set up a new password.</p>
				<div style="text-align: center;">
					<a href="{{ reset_url }}" style="cursor: pointer;"><button style="font-family: 'BankGothicBT', serif;color: #ffffff;font-size: 18px; font-weight:500;background-color: #c24278;box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.8);text-transform: capitalize; border:none;padding: 9px 120px 6px 120px;">Create password</button></a>
				</div>
				<p style="margin-top: 1.8rem;">This link will expire in 1 hour.</p>
				<div style="margin-bottom: 0;">With Love
					<div class="brandImg" style="max-width: 113px;height:100%;margin-left: -4%;"><img src="http://takerentpe-dev.progfeel.co.in/media/images/email images/logo.png" alt="" style="width: 100%;"></div>
					<div style="margin-top: -6px;font-size: 10px;margin-left: -4%;font-family: arialMT;font-weight: 600;"><a href="http://takerentpe-dev.progfeel.co.in" style="color: #060808;text-decoration: none;">http://takerentpe-dev.progfeel.co.in</a></div>
				</div>
			</div>
			<div class="footer" style="background-image: url('http://takerentpe-dev.progfeel.co.in/media/images/email_images/footer-bg-1-transparent.png');height:135px;background-repeat: no-repeat;background-size: 100% 100%;width: 100%;float: left;margin: 0;">
			</div>
		</div>
	</div>
</body>
</html>