<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email Password</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,700" rel="stylesheet">
</head>
<style>
	@font-face { font-family: Tahoma; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/Tahoma Regular font.ttf'); }
	@font-face { font-family: TahomaBold; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/TAHOMAB0.TTF'); }
	@font-face { font-family: TahomaA; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/TAHOMA_0.TTF'); }
	@font-face { font-family: Lucida; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/LHANDW.TTF'); }
</style>
<body style="margin: 0;padding: 0;">
	<div style="max-width: 600px;margin-left: auto;margin-right: auto;">
		<div style="font-family: 'Open Sans', serif;">
			<div class="header" style="background-image: url('http://takerentpe-dev.progfeel.co.in/media/images/email_images/header-bg-1-transparent.png');height: 200px;background-repeat: no-repeat;background-size: 100% 100%;margin: 0;padding: 0;">
				<img src="http://takerentpe-dev.progfeel.co.in/media/images/email_images/congratulations.png" alt="" style="padding:20px 0 0 30px;">
			</div>
			<div class="body" style="padding:0 1%;font-family: Tahoma; font-weight: 400; color: #4d4e4e;font-size: 14px;text-align: left;">
				<p style="margin: 0;color: #ee4d84;line-height: 20px;font-family: TahomaBold;font-weight:700;">You're all set!</p>
				<p style="margin: 0;line-height: 20px;">Thank you for being a part of our Take Rent Pe Family &  for the services you will be offering on our platform.</p>
					<form class="details" style="padding-top: 1.2rem;width: 85%;margin-left: auto;margin-right: auto;">
						<fieldset style="border-color:#ee4d84;border:1px solid #ee4d84; padding: 25px 25px 20px 25px;">
							<legend class="title" style="font-weight: 700;color: #ee4d84;background: #fff;padding:3px 5px;text-transform: uppercase;font-family:TahomaBold; font-size: 14px; text-align: center; width: 155px;margin-left: auto;margin-right: auto;">Dashboard Access</legend>
							<div class="email">
								<label for="email" style="color: #ee4d84; font-family:TahomaBold; font-size: 14px;line-height: 34px;font-weigth:600;">Email: <span style="color: #4d4e4e">{{email_id}}</span></label>
							</div>
							<div class="password">
								<label for="password" style="color: #ee4d84;font-family:TahomaBold; line-height: 34px;font-size: 14px;font-weigth:600;">Password: <span style="color:#4d4e4e">{{pwd}}</span></label>
							</div>
						</fieldset>
					</form>

				<p style="margin: 0;margin-top: 0.7rem;line-height: 18px;font-weight: 500;">As a ASP for the events I think we both know this bussiness well and we will touch the height of Success in future.</p>
				<p style="margin: 0;margin-top: 0.7rem;line-height: 18px;font-weight: 500;">I pray that the bonding between us remain The same and together we will achieve more.</p>
				<p style="color: #ee4d84;font-weight: 700;">We'd love to hear from you.</p>
				<p style="margin: 0;margin-top: 0.7rem;line-height: 18px;font-weight: 500;">If you have any questions, suggestions or would just like to say hi - please simply mail us at <a href="mailto:hello@takerentpe.com" style="color: #4d4e4e;text-decoration: none;font-family: TahomaBold;font-weight:600;">hello@takerentpe.com</a>. We'll get back to you in no time, promise!</p>
			</div>
			<div class="wrap" style="align-items: center;padding: 0 6%; padding-top: 2rem;">
				<div class="sign" style="width: 119px;float:left;">
					<img src="http://takerentpe-dev.progfeel.co.in/media/images/email_images/signature.png" alt="" style="width: 100%;">
				</div>
				<div class="logo" style="width: 113px;float:right;">
					<img src="http://takerentpe-dev.progfeel.co.in/media/images/email_images/logo.png" alt="" style="width: 100%;">
				</div>
			</div>
			<div class="footer" style="background-image: url('http://takerentpe-dev.progfeel.co.in/media/images/email_images/footer-bg-1-transparent.png');height:135px;background-repeat: no-repeat;background-size: 100% 100%;width: 100%;float: left;margin: 0;">
				<p style="color: #fff;width: 100%; font-family: Tahoma, Sans-serif;font-weight: 500;line-height: 24px;font-size: 14px;padding-top: 85px;margin-left: auto;margin-right: auto;text-align: center;">(C) 2018-2019, <a href="http://takerentpe-dev.progfeel.co.in" style="text-decoration: none;color: #fff;">takerentpe.com</a>, or its affiliates</p>
			</div>
		</div>
	</div>
</body>
</html>