<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<style>
	@font-face { font-family: Tahoma; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/Tahoma Regular font.ttf'); }
	@font-face { font-family: BankGothicBT; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/Bank Gothic Light.ttf'); }
	@font-face { font-family: arialMT; src: url('../../../CustomPromotion/promotions/static/rentshop/css/fonts/ARIALMT.ttf'); }
</style>
<body>
	<div style="max-width: 600px;margin-left: auto;margin-right: auto;">
		<div style="font-family: Tahoma;font-weight:500;font-size: 21.1px;">
			<div class="header" style="background-image: url('http://takerentpe-dev.progfeel.co.in/media/images/email_images/header-bg-1-transparent.png');height: 200px;background-repeat: no-repeat;background-size: 100% 100%;margin: 0;padding: 0;">
			</div>
			<div class="body" style="padding:0 6%;line-height: 40px;  color: #101010;font-family:Tahoma;">
				<p style="margin-top: -20px;color: #c828a2;">Hello {{vendor.first_name}} {{vendor.last_name}}!</p>
				<p>Thank you for being an associated bussiness partner with Take Rent Pe Family & for the services you would be offering On our platform. As a ASP for the events I think we both know this bussiness well and we will touch the height of Success in future. I pray that the bonding between us remain The same and together we will achieve more. </br>
				</p>
				<p><span style="margin-top: 0; color: #c828a2;">Once again thanks for putting your trust on us.</span></p>
				</div>
				<div style="margin-bottom: 0;margin-left: 3%;">
					<div class="brandImg" style="max-width: 113px;height:100%;"><img src="http://takerentpe-dev.progfeel.co.in/media/images/email_images/logo.png" alt="" style="width: 100%;"></div>
					<div style="margin-top: -6px;font-size: 10px; font-family: arialMT;font-weight: 600;"><a href="http://takerentpe-dev.progfeel.co.in" style="color: #060808;text-decoration: none;">http://takerentpe-dev.progfeel.co.in</a></div>
				</div>
			</div>
			<div class="footer" style="background-image: url('http://takerentpe-dev.progfeel.co.in/media/images/email_images/footer-bg-1-transparent.png');height:135px;background-repeat: no-repeat;background-size: 100% 100%;width: 100%;float: left;margin: 0;">
				<p style="color: #fff;width: 100%; font-family: Tahoma, Sans-serif;font-weight: 500;line-height: 24px;font-size: 14px;padding-top: 85px;margin-left: auto;margin-right: auto;text-align: center;">(C) 2018-2019, <a href="http://takerentpe-dev.progfeel.co.in" style="text-decoration: none;color: #fff;">takerentpe.com</a>, or its affiliates</p>
			</div>
		</div>
	</div>
</body>
</html>