{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} orders home{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block headertext %}
{% if isVendor %}
{% trans "Dashboard Vendor" %}
{% else %}
{% trans "Password Change" %}
{% endif %}
{% endblock %}

{% block dashboard_content %}
<div class="table-header">
    <i class="icon-pencil icon-large"></i>{% trans "Password Change" %}
</div>
<div class="well">
    {% include 'partials/form.html' with form_id="change_password_form" action="." %}
</div>
{% endblock %}