{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block body_class %}{{ block.super }} orders{% endblock %}

{% block title %}
    {% trans "Orders" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Orders" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Orders" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><span class="icon-search icon-large"></span>{% trans "Search" %}</h3>
    </div>
    <div class="well">
        <form action="." method="get" class="form-inline" id="search_form">

            {% for field in form %}
                {% if field.id_for_label %}
                
                    {% if field.is_hidden %}
                        {% render_field field class+='form-control' %}
                    {% else %}
                        <span class="form-group{% if field.errors %} has-error{% endif %}">
                            {{ field.label_tag }}
                            {% render_field field class+='form-control' %}
                            {% for error in field.errors %}
                                <ul class="error-block">
                                    <li>{{ error }}</li>
                                </ul>
                            {% endfor %}
                        </span>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <input type="submit" value="{% trans 'Search' %}" class="btn btn-primary" />
            <a class="btn btn-default" href="/dashboard/orders/" >{% trans "Reset" %}</a>

        </form>

        {# Search modal, if there are form errors the form is automatically openend #}
        <div class="modal fade" data-show="true" id="SearchModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>{% trans "Advanced Search" %}</h3>
                    </div>
                    <form action="." method="get" class="form-horizontal">
                        <div class="modal-body">
                            <div class="container-fluid">
                            {% csrf_token %}
                            {% include "dashboard/partials/form_fields.html" with form=form style='horizontal' %}

                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</a>
                            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if search_filters %}
        <div class="search-filter-list" style="display:none">
            <label>Filters:</label>
            {% for filter in search_filters %}
            <span  class="label label-success">{{ filter }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if orders %}
        <form action="." method="post" class="order_table" id="orders_form">
            {% csrf_token %}
            {% include "dashboard/orders/partials/bulk_edit_form.html" with status=active_status %}

            {% block order_list %}
            <table class="table table-striped table-bordered table-hover">
                <caption>
                    <h3 class="pull-left"><span class="icon-shopping-cart icon-large"></span>
                        {% if search_filters %}
                            {% trans "Order Search Results" %}
                        {% else %}
                            {% trans "All Orders" %}
                        {% endif %}
                    </h3> &nbsp;
                    <span id="order_mark" class="selection_mark label label-default"></span>
                    <div class="pull-right">
                        <div class="form-inline">
                            <button class="btn btn-primary" type="button" onclick="export_orders('/export_orders', '{{request.GET.order_number}}', '{{request.GET.status}}', '{{request.GET.product}}', '{{request.GET.category}}', '{{request.GET.sub_category}}','{{request.GET.name}}')">Download orders</button>
                        </div>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th hidden></th>
                        <th>
                            <input type="checkbox" id="order_master_selected">
                        </th>
                        <th class="order_first">Order number</th>
                        <th class="order_first">Customer</th>
                        {% if user.is_superuser %}
                        <th>Total Amount</th>
                        <th>{% trans "Number of items" %}</th>
                        {% endif %}
                        <th>{% trans "Shipping address" %}</th>
                        <th>{% trans "Date of purchase" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Payment Status" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <input type="checkbox" class="order_selected" name="order_checkbox" value="{{order.id}}" id="order_selected">
                        </td>
                        <td><a href="{% url 'dashboard:order-detail' number=order.number %}">{{ order.number }}</a></td>
                        <td>
                            {% if order.user.is_staff %}
                                {{order.user.first_name|title}} {{order.user.last_name|title}}
                            {% else %}
                            {% if order.user.pk %}
                                <a href="{% url 'dashboard:user-detail' pk=order.user.pk %}">
                                    {{order.user.first_name|title}} {{order.user.last_name|title}}
                                </a>
                            {% else %}
                            {{order.user.first_name|title}} {{order.user.last_name|title}}
                            {% endif %}
                            {% endif %}
                        </td>
                        {% if user.is_superuser %}
                        <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                        <td>{{ order.num_items }}</td>
                        {% endif %}
                        <td>{{ order.shipping_address|default:"-" }}</td>
                        <td>{{ order.date_placed }}</td>
                        <td>{{ order.status|default:"-" }}</td>
                        <td>{{ order.get_order_payment_status_display|default:"-" }}</td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                        {% trans "Actions" %}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="{% url 'dashboard:order-detail' number=order.number %}">{% trans "View" %}</a></li>
                                        {% if order.get_order_payment_status_display == 'Initiated' %}
                                        <li><a href="#" onclick="delete_order('{{order.number}}')">{% trans "Delete" %}</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock order_list %}
            {% block order_actions %}
                <div class="well" hidden>
                    <h3><i class="icon-warning-sign"></i> {% trans "Change order status" %}:</h3>
                    {% if order_statuses %}
                        <div class="form-group">
                            <div class="controls">

                            <select name="new_status">
                                <option value=""> -- {% trans "choose new status" %} -- </option>
                                {% for status in order_statuses %}
                                    <option>{{ status }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        <button type="submit" name="action" value="change_order_statuses" class="btn btn-primary" data-loading-text="{% trans 'Changing...' %}">{% trans "Change status" %}</button>
                    {% else %}
                        {% trans "This order can't have its status changed." %}
                    {% endif %}
                </div>
            {% endblock %}

            {% include "dashboard/orders/partials/bulk_edit_form.html" with status=active_status %}
            {% include "dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered">
            <caption><i class="icon-shopping-cart icon-large"></i>
                {% if search_filters %}
                {% trans "Order Search Results" %}
                {% else %}
                {% trans "All Orders" %}
                {% endif %}
            </caption>
            <tr><td>{% trans "No orders found." %}</td></tr>
        </table>
    {% endif %}


        <style>
            .order_first > input {
                display:none;
            }
        </style>

    {% endblock dashboard_content %}

    {% load static %}
    {% block extrascripts %}
        {{ block.super }}
        <script src="{% static 'oscar/js/dashboard/orders/order_list.js' %}"></script>
        <script>
            category_auto_select();
        </script>
        <script>
            function delete_order(number){
                a=confirm(" Are you sure to delete order.")
                if (a){
                    $.ajax({
                    url:`/master/orders/`+number+`/delete/`,
                    method:'GET'
                }).done(window.location.reload())
                }
                
            }
        </script>
        <script>
            $(document).ready(function() {
               $('#id_status').select2();
               $('#id_product').select2();
               $('#id_category').select2();
               $('#id_sub_category').select2();
               });
        </script>
    {% endblock %}

    {% block onbodyload %}
        {{ block.super }}
        oscar.dashboard.orders.initTable();
        oscar.dashboard.search.init();
        {% if form.errors %}
        $('#SearchModal').modal('show');
        {% endif %}

    {% endblock onbodyload %}
